html {
    background-color: black;
    color: white;

}
ul#navigasi {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
}
ul#navigasi li.hori {
    float: left;
}
ul#navigasi img.left {
    display: flex;
    justify-content: left;
    float: left;
    max-width: 50px;
    max-height: 50px;
}
ul#navigasi li a{
    display: block;
    color: purple;
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;
    

}
ul#navigasi li a:hover {
background-color: black;
color: white;
text-decoration: underline;
}
ul.navigasi button {
    display: block;
    float: right;
    color: blue;
    text-align: center;
    border-radius: 5px solid blue;

}
div.giant {
    padding: 100px;
    max-width: 3000px;
    max-height: 2500px;
}
div div.left {
    display: flex;
    justify-content: center;
    float: right;
    width: 400px;
    height: 400px;
}
div.mini {
    padding-top: 10px;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 100;
}
div div.big {
    font-family: sans-serif;
}
div div span.strong {
    font-weight: 700;
    font-size: 50px;
}
div div p#small-text {
        padding-top: 30px;    
        font-size: 10px;
        font-weight: lighter;
        padding-bottom: 30px;
}
div div button.purple {

    height: 35px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
div div span.strong2 {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 10px;
}
div.giant2 {
    max-width: 3000px;
    max-height: 2500px;
    padding: 100px;
}
div div.big div.box-of-skills {
    display: flex;
    flex-direction: row;
}
div div.big div.box-of-skills div#skills {
    flex-basis: 100%;
    height: 150px;
    padding: 20px;
    margin: 5px;
    background: white;
    font-size: 15px;
    color: black;
    text-align: left;


}
div#skills img {
    padding-bottom: 5px;
    margin: 5px;

}
p.mini2 {
    font-weight: 200;
    margin-left: 5px;
}
div.giant3 {
    padding: 100px;
    font-family: sans-serif;
    position: relative;
}
div.giant3 img {
    width: 600px;
    height: 600px;
}
div.giant3 div.fly-right p{
    position: absolute;
    top: 200px;
    right: 700px;
    float: right;
}
div.giant3 div.fly-right strong{
    position: absolute;
    top: 250px;
    right: 510px;
    float: right;
    font-size: 35px;
}
div.giant3 div.fly-right p#above {
    position: absolute;
    float: right;
    top: 330px;
    left: 760px;
    right: 210px;
}
div.giant3 div.fly-right p#above2 {
    position: absolute;
    float: right;
    top: 520px;
    left: 760px;
    right: 210px;
}
div.giant4 {
    padding: 100px;
    font-family: sans-serif;
    position: relative;
}
div.giant4 button.pink {
    position: absolute;
    float: right;
    right: 50px;
    top: 175px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: palevioletred;
    color: white;

}
div.giant4 div.box-of-projects {
    display: flex;
    flex-direction: row;
}
div.giant4 div.box-of-projects div#projects {
    flex-basis: 100%;
    height: 390px;
    padding: 20px;
    margin: 5px;
    background: white;
    font-size: 15px;
    color: black;
    text-align: left;
    border-radius: 5px;
}
div.giant4 div.box-of-projects div#projects img {
    height: 260px;
    width: 500px;
}
.tombol-contact {
    justify-content: center;
    width: 150px;
    padding: 10px;
    background-color: rebeccapurple;
    color: white;
    right: 900px;
    text-align: center;
}
img.square {
    height: 350px;
    width: 250px;
}
div.center {
    display: block;
    text-align: center;
    justify-content: center;
}