html {
    background-color: white;
    font-family: sans-serif;
    color: black;
}
ul#navigasi {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
}
ul#navigasi li.hori {
    float: left;
}
ul#navigasi li a{
    display: block;
    color: 	#000083;
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;
    

}