* {
    margin: 0;
    padding: 0;
}
html {
    background-color: white;
    font-family: sans-serif;
    color: black;
}
ul#navigasi {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    height: 145px;
    width: 100%;
}
ul#navigasi li.hori {
    float: left;
}

ul#navigasi li a{
    display: block;
    color: 	white;
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;
    background-color: #000083;
    border-radius: 5px;
    height: 100%;
    justify-self: center;

}
.Logo {
    width: 350px;
    height: 150px;
}